<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
  </configSections>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="HashBus.Twitter.Analyzer.Commands" Type="HashBus.Twitter.Analyzer.Commands.AnalyzeTweet" Endpoint="HashBus.Twitter.Analyzer"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <appSettings>
    <add key="Hashtag" value="Simulated"/>
    <add key="NServiceBusConnectionString" value="Data Source=.\SqlExpress;Initial Catalog=HashBus.NServiceBus;Integrated Security=True"/>
    <add key="EndpointName" value="HashBus.Twitter.Monitor.Simulator"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
