<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <appSettings>
    <add key="MongoConnectionString" value="mongodb://localhost:27017" />
    <add key="MongoDBDatabase" value="hashbus_readmodel" />
    <add key="hashTag" value="Simulated" />
    <add key="refreshInterval" value="10000" />
    <add key="ShowPercentages" value="true" />
  </appSettings>
</configuration>
