<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <appSettings>
    <add key="WebApiBaseUrl" value="http://localhost:13373" />
    <add key="hashTag" value="Simulated" />
    <add key="refreshInterval" value="10000" />
    <add key="ShowPercentages" value="true" />
  </appSettings>
</configuration>
