<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <appSettings>
    <add key="MongoConnectionString" value="mongodb://localhost:27017"/>
    <add key="MongoDBDatabase" value="hashbus_readmodel"/>
    <add key="EndpointName" value="HashBus.Projector.TopRetweeters"/>
    <add key="AnalyzerAddress" value="HashBus.Twitter.Analyzer"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
