<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!--startcode subscriptionConfig-->
<configuration>
  <appSettings>
    <add key="NServiceBusConnectionString" value="Data Source=.\SqlExpress;Initial Catalog=HashBus.NServiceBus;Integrated Security=True"/>
    <add key="EndpointName" value="HashBus.Twitter.Analyzer"/>
  </appSettings>
</configuration>
<!--endcode-->
