<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColoredConsole" version="0.4.0" targetFramework="net451" />
  <package id="LiteGuard" version="0.10.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="NServiceBus" version="6.0.0-unstable0929" targetFramework="net451" />
  <package id="RavenDB.Client" version="3.0.3800" targetFramework="net451" />
</packages>