<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <appSettings>
    <add key="BaseUri" value="http://localhost:13373"/>
    <add key="MongoConnectionString" value="mongodb://localhost:27017"/>
    <add key="MongoDBDatabase" value="hashbus_readmodel"/>
    <add key="IgnoredHashtags" value="ndc2017"/>
    <add key="IgnoredUserNames" value="BlackKurtosisL,NDC_Conferences,NDCleader,trendinaliaI,adamralph,andreasohlund,danielmarbach,farmar,hadi_es,Indu_alagarsamy,janovesk,mauroservienti,michal_wojcik,sfeldman,simoncropp,UdiDahan,wolfbyte"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
