<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
  </configSections>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="HashBus.Application.Events" Type="HashBus.Application.Events.UserMentionedWithHashtag" Endpoint="HashBus.Application"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <appSettings>
    <add key="BaseUri" value="http://localhost:13373" />
    <add key="MongoConnectionString" value="mongodb://localhost:27017" />
    <add key="MongoDBDatabase" value="hashbus_readmodel" />
    <add key="IgnoredUserNames" value="adamralph,andreasohlund,danielmarbach,farmar,Indu_alagarsamy,janovesk,mat_mcloughlin,mauroservienti,michal_wojcik,sfeldman,UdiDahan" />
  </appSettings>
</configuration>
