<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="consumerKey" value="TWITTER_CONSUMER_KEY" />
    <add key="consumerSecret" value="TWITTER_CONSUMER_SECRET" />
    <add key="accessToken" value="TWITTER_ACCESS_TOKEN" />
    <add key="accessTokenSecret" value="TWITTER_ACCESS_TOKEN_SECRET" />
    <add key="hashTag" value="Microsoft" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
