<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="consumerKey" value="1w3eydFjSxLjwgmpy92yUbxZf" />
    <add key="consumerSecret" value="qhS0kLtPFwoB3OV7nkpIEg8Jw8geKHlrIgXq17EHfkGbvmrTxF" />
    <add key="accessToken" value="5966642-KHuz6mCHgR9iqmXLDNGKWUaAT9FfQctd7QqDMpETVC" />
    <add key="accessTokenSecret" value="lPvfqvUmtXg4dXxr26S81LaX5WUouJDIRUOxUS7YPTO7H" />
    <add key="hashTag" value="Microsoft" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
